*{
 margin: 0;
 padding: 0;
}



#clockS{
 
}

.clock-section{
  height: 37vh;
  width: 100vw;
}

#time pre{
  display: flex;
  font-size: 12vw;
}
#date-details pre{
  display: flex;
  font-size: 5vw;
  line-height: 10vh;
}

#region{
  font-size: 5vw;
}

.clock-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-around;
}